.layout {
    background-color: #303036;
}

.layout-main {
    margin-left: 1rem;
    border-left-width: 1px;
    border-right-width: 1px;
    margin: 0 auto;
    /* height: 100vh; */
    min-height: calc(100vh - 5rem);
}

.layout-content {
    min-height: 100%;
    min-width: 100%;
    margin-top: 5rem;
    display: block;
}

.layout-footer {
    align-items: center;
    border-top-width: 1px;
    display: flex;
    height: 64px;
    color: white;
    height: 5rem;
    background-color: black;
}